@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Nata+Sans:wght@100..900&family=Story+Script&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @layer base {
    * {
      @apply border-gray-600;
    }
  }
  /*
  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl  font-semibold;
  }
  h3 {
    @apply text-xl  mt-0 font-semibold;
  }
 
  ul {
    @apply list-disc pl-6 list-inside;
  }
  ol {
    @apply list-decimal list-inside;
  }
  blockquote {
    @apply border-l-4 border-gray-400 pl-4 italic text-gray-600 dark:text-gray-300;
  }
  code {
    @apply  dark:bg-gray-700 rounded px-1 py-0.5 text-sm font-mono;
  }
  a {
    @apply text-blue-600 underline hover:text-blue-800;
  }
    */
}
p {
  color: rgba(255, 255, 255, 0.64);
  font-size: 10px;
}
h1 {
  color: rgb(255, 255, 255);
  font-size: 14px;
}
h2 {
  color: rgba(255, 255, 255, 0.64);
  font-size: 13px;
}
header {
  color: rgb(255, 255, 255);
  font-size: 72px;
}
sub {
  color: rgba(255, 255, 255, 0.314);
  font-size: 36px;
}
.icon {
  color: white;
  padding: 2px;
  font-size: 22px;
}
.icon:hover {
  background-color: rgba(255, 255, 255, 0.314);
  border-radius: 4px;
}
.custom-scrollbar-y {
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #474747 #1e1e1e;
}
.custom-scrollbar-x {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #474747 #1e1e1e;
}
.custom-scrollbar {
  overflow: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #474747 #1e1e1e;
}
